[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BinaryDosage"]
	path = BinaryDosage
	url = https://github.com/cran/BinaryDosage
	shallow = true
	registered = true
[submodule "GxEScanR"]
	path = GxEScanR
	url = https://github.com/cran/GxEScanR
	shallow = true
	registered = true
